@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

@import './node_modules/augmented-ui/augmented-ui.css';
@import './dom-ui.scss';

html {
  background-color: #000;
  position: relative;
}
body {
 font-family: 'Share Tech Mono', monospace;
 margin: 0;
 background: #fff;
 position: relative;
 touch-action: none; // https://stackoverflow.com/a/62165035
 user-select: none;
}
body::after {
  display: block;
  width: 100vw;
  margin: 0 auto;
  content: 'INIT SEQ ⚠';
  color: #ffe600;
  font-size: max(5vw,20px);
  position: absolute;
  top: 45vh;
  text-align: center;
  white-space: pre;
}
body.no-warn::after {
  content: '';
}
body #app:hover {
 cursor: none;
}
canvas {
  background-color: #000;
 user-select: none;
}