* {
  box-sizing: border-box;
}

html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Monaspace Krypton', monospace;
}

#root,
#app {
  width: 100%;
  height: 100%;
  font-family: 'Monaspace Krypton', monospace;
}

// Three.js styles 
#threejs-container {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;

  canvas {
    width: 100%;
    height: 100%;
  }
}

// Media queries
@media (orientation: landscape) {
  #threejs-container {
    width: 100vw; 
    height: 100vh;
  }
}

@media (orientation: portrait) {
  #threejs-container {
    width: 100vh;
    height: 100vw;
  }
}
