* {
  box-sizing: border-box;
}

html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root,
#app {
  width: 100%;
  height: 100%;
}

// Three.js styles 
#threejs-container {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;

  canvas {
    width: 100%;
    height: 100%;
  }
}

// Media queries
@media (orientation: landscape) {
  #threejs-container {
    width: 100vw; 
    height: 100vh;
  }
}

@media (orientation: portrait) {
  #threejs-container {
    width: 100vh;
    height: 100vw;
  }
}

#actions {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
  button {
    color: #000;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
  }
}