// Telemetry

#telemetry-dashboard {
  max-height: 100svh;
}

#chain-events {
  overflow-y: scroll;
}

.event-action {
  position: relative;
  &.genesis {
    &::after {
      border: 1px solid yellow;
      border-radius: 1rem;
      color: yellow;
      content: "Genesis";
      padding: 0.5rem;
      position: absolute;
      text-align: center;
      top: 0;
      right: 0;
      width: 80px;
      height: 1rem;
    }
  }
  &.not-genesis {
    .pow {
      border: 1px solid rgb(255, 136, 0);
      border-radius: 1rem;
      display: block;
      color: rgb(255, 136, 0);
      line-height: 1rem;
      padding: 0.5rem;
      position: absolute;
      text-align: center;
      top: 0;
      right: 0;
      width: 80px;
      height: 2rem;
    }
  }
}

.button-glow {
  // radiating purple glow around button
  animation: glow 1s infinite normal;
  @keyframes glow {
    0% {
      box-shadow: 0 0 0px 0px #5922fd;
    }
    100% {
      box-shadow: 0 0 10px 10px rgba(255, 0, 255, 0);
    }
  }
}