.wavy-text {
  position: relative;
}

$steps: 30;

%letter-wave {
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
}

@mixin wavy-text-frames {
  @for $i from 0 through $steps {
    .wave-#{$i} {
      @extend %letter-wave;
      animation-delay: calc( 100ms * #{$i} );
    }
  }
}

@include wavy-text-frames;

@keyframes wave {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0px;
  }
}
  